<launch>
    <!--
    <param name="InitialX" value=0 />
    <param name="InitialY" value=0 />
    <param name="InitialTheta" value=0 />
-->

    <!-- Launch the bag1 and show on screen -->
    <arg name="path" default="/bags/" />
    <arg name="file1" default="bag1" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="$(find project_1)$(arg path)$(arg file1).bag"/>

    <!-- Launch the two Sync for left and right lateral wheels -->
    <node pkg="project_1" type="LateralWheelSync" name="LeftWheelSync"/>
    <node pkg="project_1" type="LateralWheelSync" name="RightWheelSync">
        <remap from="/motor_speed_fl" to="/motor_speed_fr"/>
        <remap from="/motor_speed_rl" to="/motor_speed_rr"/>
        <remap from="/syncVelocity_l" to="/syncVelocity_r"/>
    </node>

    <!-- Launch the GlobalSync -->
    <node pkg="project_1" type="GlobalSync" name="GlobalSync"/>


    <!-- Attempt to Launch the echo of the /twist but the terminator window close immediately after open, so is useless
    <arg name="topic1"     default="/twist"/>
    <node pkg="rostopic" type="rostopic" name="TwistListener"
          args="echo $(arg topic1)"  launch-prefix="terminator - -new-tab -x" />

          -->

    <!-- the others...
    <node pkg="package" type="file_name" name="node_name"/>
    <node pkg="package" type="file_name" name="node_name"/>
-->
</launch>